$textDark: #1f1f1f;
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
}
.text-link {
  color: $textDark;
}
.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .auth-form {
    width: 100%;
    max-width: 432px;
    margin: 0 auto;
    padding: 10vh 0;
  }
  .auth-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    img {
      width: 330px;
      height: auto;
    }
  }
}
.ck-editor__editable[role="textbox"] {
  padding-left: 20px;
  border-radius: 12px;
}

.ck-content {
  min-height: 200px;
}

.ck-content ul,
.ck-content ol {
  list-style: disc;
  padding-left: 20px;
}
.ck-content ul li {
  list-style: disc;
}
.ck-content ol li {
  list-style: number;
}
.ck-content .ck-list-bogus-paragraph {
  display: none;
}
.user-icon-button {
  padding: 0;

  .user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    overflow: hidden;

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }
}

.logout-item {
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;

  .logout-icon {
    width: 16px;
    height: 16px;
  }
}

.logout-item {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.main-card {
  border: 1px solid #e6e9ed;
  border-radius: 20px;
  background: #ffffff;
  min-height: calc(100vh - 115px);
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .main-card-title {
    width: 100%;
    border-bottom: 1px solid #a2adc8;
    padding: 20px 24px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .back-btn {
      border: 1px solid #e6e9ed;
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0.81rem 2rem;
      color: #1f1f1f;
    }
  }

  .main-card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    .filter-area {
      width: 100%;
      padding: 20px 24px;
      box-sizing: border-box;
    }
    .main-card-body-inner {
      width: 100%;
    }
    .main-card-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      padding: 20px 24px;
      border-top: 1px solid #a2adc8;
    }
  }
}
.filter-reset-btn {
  width: 100%;
  padding: 0;
  height: 50px !important;
  border: 1px solid #e6e9ed !important;
  border-radius: 12px !important;
  &.dashboard-btn {
    max-width: 100px;
    height: 76px !important;
  }
}
.data-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  row-gap: 32px;
  padding: 0px 24px 32px;
  box-sizing: content-box;
  &-card {
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    position: relative;
    transition: all 0.3s ease;
    border: 1px solid #a2adc8;
    cursor: pointer;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    background-image: url("../icons/logo-highlighted.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    // Progress bar
    .progress-bar {
      width: 80%;
      height: 20px;
      position: absolute;
      bottom: -20px;
      margin: 0 auto;
      left: 0;
      right: 0;
      border: 1px solid #a2adc8;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      border-top: none;
      &::before {
        content: "";
        width: 50px;
        height: 1.5px;
        background-color: #ff003c;
        position: absolute;
        bottom: 8.5px;
        z-index: 2;
        left: 10px;
        max-width: 90%;
        transition: 0.2s;
      }
      &::after {
        content: "";
        width: 20px;
        height: 20px;
        background-image: url("../icons/arrow-right-red.svg");
        background-size: cover;
        position: absolute;
        right: 10px;
        background-repeat: no-repeat;
      }
    }

    &:hover {
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
      transform: translateY(-2px);

      .progress-bar {
        &::before {
          width: 230px;
        }
      }
    }

    .title-wrapper {
      margin-bottom: 16px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      h6 {
        font-weight: 500;
        color: #333;
        margin: 0;
      }
    }

    .card-content {
      flex-grow: 1;
      color: #666;
      font-size: 14px;
      line-height: 1.5;
    }

    .card-actions {
      position: absolute;
      top: 0px;
      right: 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      opacity: 1;
      transform: translateY(0);
      transition: all 0.3s ease;
      width: 100%;
      padding: 16px;

      .MuiIconButton-root {
        padding: 6px;
        background: rgba(0, 0, 0, 0.03);

        &:hover {
          background: rgba(0, 0, 0, 0.06);
        }
        &:last-child {
          margin-left: 0.5rem;
        }
      }
    }

    .card-footer {
      position: absolute;
      bottom: 0px;
      right: 0px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 8px;
      opacity: 1;
      transform: translateY(0);
      transition: all 0.3s ease;
      width: 100%;
      padding: 16px;
      &.between {
        justify-content: space-between;
      }
      .assign-btn {
        border: 1px solid #ff003c;
        padding: 8px 16px;
      }
      .export-btn {
        padding: 8px 16px;
        color: #fff;
      }
    }
  }
}

.search-container {
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  min-height: calc(100vh - 120px);
  .search-title {
    margin-bottom: 24px;
    font-weight: 500;
    text-align: center;
  }

  .search-input {

    .MuiOutlinedInput-root {
      padding: 20px;
      fieldset {
        border-radius: 20px;
      }
    }
  }

  .faq-title {
    margin-bottom: 16px;
    font-weight: 500;
  }
}

.faq-item {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 16px !important;
  padding: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #f8f9fa;
  }
  &.expanded {
    background-color: #fff;
    cursor: default;
    box-shadow: 0px 4px 16px 0px #00000029;

    backdrop-filter: blur(24px);
  }

  .faq-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
  }
  .faq-question {
    font-weight: 500;
    flex: 1;
  }
  .close-button {
    color: rgba(0, 0, 0, 0.54);

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  .question-divider {
    margin: 16px -16px;
  }

  .faq-answer {
    color: rgba(0, 0, 0, 0.6);
    padding-top: 16px;
    
  }
}

figure.table {
  table {
    border: 1px solid black;
    border-collapse: collapse;
    tr {
      border: 1px solid black;
      td {
        border: 1px solid black;
        padding: 5px;
      }
    }
  }
}

// exam container
.exam-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .numbers-list {
    width: 100%;
    box-shadow: 0px 4px 4px 0px #00000040;
    backdrop-filter: blur(24px);
    background: #ffffff;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    .numbers-list-wrapper {
      overflow-x: auto;
      gap: 2rem;
      display: flex;
      justify-content: flex-start;
      max-width: 100%;
      padding: 1rem;

      span {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Jura;
        font-size: 22px;

        &.active {
          color: #ff003c;
          &::after {
            content: "";
            width: 25px;
            height: 2px;
            background-color: #ff003c;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  .exam-body {
    width: 100%;
    min-height: calc(100vh - 200px);
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    position: relative;
    align-items: center;
    border-radius: 20px;
    .exam-action {
      height: 100%;
      background-color: #fff;
      display: grid;
      grid-template-columns: 1fr;
      padding: 1rem;
      backdrop-filter: blur(24px);
      box-shadow: 0px 4px 4px 0px #00000040;
      border-radius: 20px;
      position: relative;
      overflow: hidden;
      .progress-bar {
        position: absolute;
        width: 42%;
        height: 1rem;
        background-color: #ff003c;
        transition: 0.2s;
      }
      .exam-action-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        span {
          &:first-child {
            font-family: Jura;
            font-weight: 400;
            font-size: 60px;
            color: #ff003c;
          }
          &:last-child {
            font-family: Jura;
            font-weight: 400;
            font-size: 24px;
            color: #1f1f1f;
          }
        }
        &:last-child {
          border-top: 1px solid #1f1f1f50;
          span {
            &:first-child {
              font-size: 40px;
            }
          }
        }
      }
    }
    .exam-question {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .answers {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .answer-item {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          background: #1f1f1f0a;
          padding: 0.5rem 1rem;
          border-radius: 42px;
          cursor: pointer;
          .letter {
            border: 1px solid #1f1f1f;
            border-radius: 50%;
            width: 44px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &.selected {
            background: #ff003c !important;
            color: #fff;
            .letter {
              border-color: #fff;
            }
          }
        }
      }

      .submit {
        width: 100%;
        display: flex;
        justify-content: center;
        button {
          min-width: 250px;
        }
      }
    }
  }
}

.sidebar > div > div {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #b1b1b1;
  }
}

@media screen and (max-width: 992px) {
  .login-container {
    .auth-card {
      box-shadow: none !important;
    }
    .auth-logo {
      img {
        width: 130px;
      }
    }
    .auth-form {
      padding: 0;
    }

    .user-icon-button {
      .user-avatar {
        width: 42px;
        height: 42px;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .search-container {
    padding: 1rem;
    .search-title {
      font-size: 20px;
    }

    .search-input {
      margin-bottom: 32px;

      .MuiOutlinedInput-root {
        padding: 4px 14px;
        fieldset {
          border-radius: 20px;
        }
      }
    }

    .faq-title {
      font-size: 18px;
    }
  }

  .main-card {
    .main-card-title {
      .back-btn {
        padding: 1rem;
        span {
          display: none;
        }
      }
    }
  }

  .exam-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .numbers-list {
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .exam-body {
      padding: 1rem;
      grid-template-columns: 1fr;
      .exam-action {
        max-height: 80px;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
        .progress-bar {
          height: 0.5rem;
        }
        .exam-action-item {
          span {
            &:first-child {
              font-size: 24px;
            }
            &:last-child {
              font-size: 18px;
            }
          }
          &:last-child {
            border-top: none;
            border-left: 1px solid #1f1f1f50;
            span {
              &:first-child {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}
