$textDark: #1f1f1f;
* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
}
.text-link {
  color: $textDark;
}
.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .auth-form {
    width: 100%;
    max-width: 432px;
    margin: 0 auto;
    padding: 10vh 0;
  }
  .auth-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    img {
      width: 330px;
      height: auto;
    }
  }
}

.user-icon-button {
  padding: 0;

  .user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    overflow: hidden;

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }
}

.logout-item {
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;

  .logout-icon {
    width: 16px;
    height: 16px;
  }
}

.logout-item {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.main-card {
  border: 1px solid #e6e9ed;
  border-radius: 20px;
  background: #ffffff;
  min-height: calc(100vh - 115px);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .main-card-title {
    width: 100%;
    border-bottom: 1px solid #a2adc8;
    padding: 20px 24px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .back-btn {
      border: 1px solid #e6e9ed;
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0.81rem 2rem;
      color: #1f1f1f;
    }
  }

  .main-card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    .main-card-body-inner {
      width: 100%;
    }
    .main-card-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      padding: 20px 24px;
      border-top: 1px solid #a2adc8;
    }
  }
}

@media screen and (max-width: 992px) {
  .login-container {
    .auth-card {
      box-shadow: none !important;
    }
    .auth-logo {
      img {
        width: 130px;
      }
    }
    .auth-form {
      padding: 0;
    }

    .user-icon-button {
      .user-avatar {
        width: 42px;
        height: 42px;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
